<!--
<div class='tops'>
  <div class='container'>
    <div style="background-image: url(../assets/images/cat.jpg); background-attachment: fixed;">
    </div>
  </div>
</div>
-->
<div class="box0">
  <%= 'aiueo' %>
  <%= 'ローソン' %>
</div>


<div class="box">
  <div class="button13">
    <a href="/login">ユーザ登録</a>
  </div>
  <div class="button14">
    <a href="/corporate_login">企業用</a>
  </div>
  <!-- <p1><%= link_to "ユーザ登録", login_path %></p1> -->
  <!-- <p2><%= link_to '企業用', corporate_login_path %></p2> -->
</div>