
<form method="get" action="https://0e291769225a4bf9a5ab0a6a0f91f722.vfs.cloud9.us-east-1.amazonaws.com/searches/new" target="_blank">
<input type="text" name="q" size="31" maxlength="255" value="">
<input type="submit" name="btng" value="検索">
<input type="hidden" name="hl" value="amazonaws.com">
<input type="hidden" name="sitesearch" value="web-officer.com">
</form>